[Unit]
Description=Enable zram compressed in-memory swap.
After=multi-user.target

[Service]
RemainAfterExit=yes
ExecStart=/usr/bin/rpi-load-zram.sh --load
ExecStop=/usr/bin/rpi-load-zram.sh --unload
Type=oneshot

[Install]
WantedBy=multi-user.target
